#!/bin/bash
killall node
killall http-server
killall unclutter
killall chromium
cd calendar-api && node . > calendar-api.log 2>&1 &
sleep 15
http-server -c-1 /home/ttosi/magic-display/dist . > http-server.log 2>&1 &
DISPLAY=:0 unclutter &
DISPLAY=:0 chromium --start-fullscreen --disk-cache-dir=/dev/null --disk-cache-size=1 --kiosk --app=http://127.0.0.1:8080/index.html > chromium.log 2>&1 &