.bg-unknown-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -10px;
}

.bg-tstorms-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -10px;
}

.bg-sunny-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -158px;
}

.bg-snow-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -158px;
}

.bg-sleet-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -10px;
}

.bg-rain-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -158px;
}

.bg-partly-sunny-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -306px;
}

.bg-partly-cloudy-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -306px;
}

.bg-unknown-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -306px;
}

.bg-tstorms-night-128 {
  width: 64px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -10px;
}

.bg-sunny-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -158px;
}

.bg-snow-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -306px;
}

.bg-sleet-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -454px;
}

.bg-rain-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -454px;
}

.bg-partly-sunny-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -454px;
}

.bg-partly-cloudy-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -454px;
}

.bg-mostly-sunny-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -10px;
}

.bg-mostly-cloudy-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -158px;
}

.bg-hazy-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -306px;
}

.bg-fog-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -454px;
}

.bg-flurries-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -602px;
}

.bg-cloudy-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -602px;
}

.bg-clear-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -602px;
}

.bg-chancetstorms-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -602px;
}

.bg-chancesnow-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -602px;
}

.bg-chancesleet-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -10px;
}

.bg-chancerain-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -158px;
}

.bg-chanceflurries-night-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -306px;
}

.bg-mostly-sunny-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -454px;
}

.bg-mostly-cloudy-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -602px;
}

.bg-hazy-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -10px -750px;
}

.bg-fog-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -158px -750px;
}

.bg-flurries-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -306px -750px;
}

.bg-cloudy-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -454px -750px;
}

.bg-clear-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -602px -750px;
}

.bg-chancetstorms-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -750px -750px;
}

.bg-chancesnow-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -898px -10px;
}

.bg-chancesleet-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -898px -158px;
}

.bg-chancerain-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -898px -306px;
}

.bg-chanceflurries-day-128 {
  width: 128px;
  height: 128px;
  background: url('weather-icons-128.png') -898px -454px;
}
